{% extends "base.html" %}

{% block content %}

<div class="container-fluid my_container">
  <div class="row justify-content-between align-items-center my-row">
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <div class="videoWrapper" style="--aspect-ratio: 3 / 4;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/H1y3fct63AQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <div class="videoWrapper" style="--aspect-ratio: 3 / 4;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/T-FNr5J1QIA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <div class="videoWrapper" style="--aspect-ratio: 3 / 4;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NivkiLI07DY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  


    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <!--Empty Space 1--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <!--Empty Space 2--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
     <!--Empty Space 3--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <!--Empty Space 1--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <!--Empty Space 2--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
     <!--Empty Space 3--><br>
    </div>



    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <div class="videoWrapper" style="--aspect-ratio: 3 / 4;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VRrRQuCru7E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <div class="videoWrapper" style="--aspect-ratio: 3 / 4;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/F704pASt2qg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <div class="videoWrapper" style="--aspect-ratio: 3 / 4;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/99ar_4dtF8I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>


    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <!--Empty Space 1--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <!--Empty Space 2--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
     <!--Empty Space 3--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <!--Empty Space 1--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <!--Empty Space 2--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
     <!--Empty Space 3--><br>
    </div>
  

    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <div class="videoWrapper" style="--aspect-ratio: 3 / 4;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tuGw6pkmv5Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <div class="videoWrapper" style="--aspect-ratio: 3 / 4;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Gea6FtxXukU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <div class="videoWrapper" style="--aspect-ratio: 3 / 4;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Jg1DZ6Y0Tvc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  
    


    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <!--Empty Space 1--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <!--Empty Space 2--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
     <!--Empty Space 3--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <!--Empty Space 1--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <!--Empty Space 2--><br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
     <!--Empty Space 3--><br>
    </div>
  
    
    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <div class="videoWrapper" style="--aspect-ratio: 3 / 4;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lVwzE8vso70" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <div class="videoWrapper" style="--aspect-ratio: 3 / 4;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PId3zHPkDrc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-1 my-col">
      <div class="videoWrapper" style="--aspect-ratio: 3 / 4;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RNXbLNRBHeE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-1 my-col">
  <!--Empty Space 1--><br>
</div>
<div class="col-md-4 col-sm-4 col-xs-1 my-col">
  <!--Empty Space 1--><br>
</div>
<div class="col-md-4 col-sm-4 col-xs-1 my-col">
  <!--Empty Space 2--><br>
</div>
<div class="row justify-content-between align-items-center my-row">
  <div class="col-lg-12 my-col">
    <img src="{{ url_for('static', filename='crowd-min.jpeg') }}" class="d-block w-100" alt="...">
  </div>
</div>

<div class="col-md-4 col-sm-2 col-xs-1 my-col">
  <!--Empty Space 2--><br>
</div>

{% endblock %}